<div class="card-deck">

    <!--Card0a-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/binance0.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto Setup #1</h5>
                <!--Title-->
                <a href="https://www.binance.com/?ref=12272309" target="_blank">
                    <h4 class="card-title">Join Binance</h4>
                </a>
                <!--Text-->
                <p class="card-text">
                    This exchange works fast and rewards you well.
                </p>
                <p class="card-text">
                    Two Factor Authentication is strongly advised-- it makes your accounts much safer.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card0a-->

    <!--Card0b-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/bwallet1.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto Setup #2</h5>
                <!--Title-->
                <h4 class="card-title">Deposit Funds</h4>
                <!--Text-->
                <p class="card-text">
                    Choose 'Funds', then 'Deposits'.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card0b-->

    <!--Card0c-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/bwallet2.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto Setup #3</h5>
                <!--Title-->
                <h4 class="card-title">Select your Currency</h4>
                <!--Text-->
                <p class="card-text">
                    Binance calls currencies 'coins' on this screen. Just enter what you have, like Bitcoin or Ethereum.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card0c-->

    <!--Card0c-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/bwallet3.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto Setup End</h5>
                <!--Title-->
                <h4 class="card-title">Send yourself some Coin</h4>
                <!--Text-->
                <p class="card-text">
                    Now you have a deposit wallet.
                </p>
                <p class="card-text">
                    Use the Copy Address button and enter this into Coinbase or wherever your currency is sitting.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card0c-->

    <!--Card1-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade0.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #1</h5>
                <!--Title-->
                <h4 class="card-title">Go Advanced!</h4>
                <!--Text-->
                <p class="card-text">
                    Choose Exchange Advanced for best options.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card1-->


    <!--Card2-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade2.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #2</h5>
                <!--Title-->
                <h4 class="card-title">Exchange Board</h4>
                <!--Text-->
                <p class="card-text">
                    On top you choose the exchange you want.
                </p>
                <p class="card-text">
                    Maybe it's buying NEO using ETHereum.
                </p>

            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card2-->


    <!--Card3-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade1.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #3</h5>
                <!--Title-->
                <h4 class="card-title">
                    Check out bottom right corner
                </h4>
                <!--Text-->
                <p class="card-text">
                    Where you exchange currencies.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card3-->

    <!--Card4-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade3.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #4</h5>
                <!--Title-->
                <h4 class="card-title">Choose 'Market'</h4>
                <!--Text-->
                <p class="card-text">
                    You can use the 25%, 50%, 100% buttons to see how much you can get in the exchange.
                </p>
                <p class="card-text">
                    Click 'Buy' and you're done!
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card4-->

    <!--Card5-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/bwallet1.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto Confirmation</h5>
                <!--Title-->
                <h4 class="card-title">Funds Menu</h4>
                <!--Text-->
                <p class="card-text">
                    Choose 'Funds', then 'Transaction History' and you can see the exchanges are happening across the two blockchains. Binance requires several exchanges for security.
                </p>
                <p class="card-text">
                    Choose 'Funds', then 'Balances' after a few minutes, to confirm the Exchange is all done.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card5-->

</div>
