<div class="card-deck">

    <!--Card1-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade0.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #1</h5>
                <!--Title-->
                <h4 class="card-title">Go Advanced!</h4>
                <!--Text-->
                <p class="card-text">
                    Choose Exchange Advanced for best options.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card1-->


    <!--Card2-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade2.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #2</h5>
                <!--Title-->
                <h4 class="card-title">Exchange Board</h4>
                <!--Text-->
                <p class="card-text">
                    On top you choose the exchange you want.
                </p>
                <p class="card-text">
                    Maybe it's buying NEO using ETHereum.
                </p>

            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card2-->


    <!--Card3-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade1.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #3</h5>
                <!--Title-->
                <h4 class="card-title">
                    Bottom right corner
                </h4>
                <!--Text-->
                <p class="card-text">
                    Where you exchange currencies.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card3-->

    <!--Card4-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/trade3.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Trade Crypto #4</h5>
                <!--Title-->
                <h4 class="card-title">Choose 'Market'</h4>
                <!--Text-->
                <p class="card-text">
                    You can use the 25%, 50%, 100% buttons to see how much you can get in the exchange.
                </p>
                <p class="card-text">
                    Click 'Buy' and you're done!
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card4-->

</div>
