<div class="card-deck">
    <!--Card1-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/coinbase0.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Buy Crypto #1</h5>
                <!--Title-->
                <h4 class="card-title">
                    <a href="https://www.coinbase.com/join/59153a1fde7f8800bcc87066" target="_blank">Sign up for Coinbase</a>
                </h4>
                <!--Text-->
                <p class="card-text">
                    The easiest way to use cryptocurrency wallets, a great place to start buying crypto.
                </p>
                <p class="card-text">
                    Consider buying Ethereum instead of Bitcoin-- it's less volatile recently.
                </p>
                <p class="callout">
                    (And I believe it's a much better long-term investment!)
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card1-->


    <!--Card2-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/coinbase1.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Buy Crypto #2</h5>
                <!--Title-->
                <h4 class="card-title">Stay Safe! Use 2FA!</h4>
                <!--Text-->
                <p class="card-text">
                    Once you join, go to Settings > Security
                </p>
                <p class="card-text">
                    Adding your phone number for two-factor authentication is the easiest way. Coinbase will ask you to confirm every action on your smartphone.
                </p>
                <p class="card-text">
                    <a href="https://www.google.com/landing/2step/" target="_blank">Google Authenticator app is recommended for 2FA.</a>

                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card2-->

    <!--Card2.5-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/coinbase4.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Set up wallet / vault</h5>
                <!--Title-->
                <h4 class="card-title">Coinbase Accounts</h4>
                <!--Text-->
                <p class="card-text">
                    Crypto wallets are what hold cryptocurrency. Create one for the coin you plan to buy.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card2.5-->

    <!--Card3-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/coinbase2.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Buy Crypto #3</h5>
                <!--Title-->
                <h4 class="card-title">
                    Attach a bank account
                </h4>
                <!--Text-->
                <p class="card-text">
                    Once you add a debit or credit account, head to Buy/Sell.
                </p>
                <p class="card-text">
                    Any money you send will get stored in a Coinbase wallet. You can move it somewhere else after.
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card3-->

    <!--Card4-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/coinbase3.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Buy Crypto #4</h5>
                <!--Title-->
                <h4 class="card-title">Choose currency</h4>
                <!--Text-->
                <p class="callout">
                    PLEASE only invest money you can afford to lose! Crypto markets are very exciting, uncertain things.
                </p>
                <p class="card-text">
                    (You can increase the weekly max by providing extra IDs to Coinbase. More on this soon.)
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card4-->

    <!--Card5-->
    <div class="col-md-4 my-3 text mx-auto">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="../assets/coinbase4.png" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <h5 class="pink-text">Buy (& Send) Crypto</h5>
                <!--Title-->
                <h4 class="card-title">Accounts also controls sending</h4>
                <!--Text-->
                <p class="card-text">
                    If you want to own currency not sold by Coinbase, here's where you can send it to other exchanges.
                </p>
                <p class="card-text">
                    <a href="https://www.binance.com/?ref=12272309" target="_blank">
                    Binance is highly recommended.</a> Check out more under the Trade section of this little guide!
                </p>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <!--/.Card5-->

</div>
