<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'" [interval]="0">

    <!--First slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../assets/coinbase0.png" alt="First slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption flex-center flex-column">
            <h3 class="h3-responsive">
                <a href="https://www.coinbase.com/join/59153a1fde7f8800bcc87066">Sign up for Coinbase</a>
            </h3>
            <p>
                The easiest way to use cryptocurrency wallets, a great place to start buying crypto.
            </p>
            <p>
                Consider buying Ethereum instead of Bitcoin-- it's programmable. I believe it's a much better long-hold investment than BTC.
            </p>
        </div>
    </mdb-slide>
    <!--/First slide-->

    <!--Second slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../assets/coinbase1.png" alt="Second slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption flex-center flex-column">
            <h3 class="h3-responsive">
                Stay Safe! Use 2FA!
            </h3>
            <p>
                Once you join, go to Settings > Security
            </p>
            <p>
                Adding your phone number for two-factor authentication is the easiest way. Coinbase will ask you to confirm every action on your smartphone.
            </p>
            <h5>
                <a href="https://www.google.com/landing/2step/" target="_blank">Google Authenticator app is recommended for 2FA.</a>
            </h5>
        </div>
    </mdb-slide>
    <!--/Second slide-->

    <!--Third slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../assets/coinbase4.png" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption flex-center flex-column">
            <h3 class="h3-responsive">
                Set up wallet / vault
            </h3>
            <p>
                Crypto wallets are what hold cryptocurrency. Create one for the coin you plan to buy.
            </p>
            <h5>
                <a href="https://www.coinbase.com/signin">Coinbase Accounts</a>
            </h5>
        </div>
    </mdb-slide>
    <!--/Third slide-->

    <!--Fourth slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../assets/coinbase2.png" alt="Fourth slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption flex-center flex-column">
            <h3 class="h3-responsive">
                Attach a bank account
            </h3>
            <p>
                Once you add a debit or credit account, head to Buy/Sell.
            </p>
            <p>
                Any money you send will get stored in a Coinbase wallet. You can move it somewhere else after.
            </p>
        </div>
    </mdb-slide>
    <!--/Fourth slide-->

    <!--Fifth slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../assets/coinbase3.png" alt="Fifth slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption flex-center flex-column">
            <h3 class="h3-responsive">
                Choose currency
            </h3>
            <p>
                PLEASE only invest money you can afford to lose! Crypto markets are very exciting, uncertain things.
            </p>
            <p>
                You can increase your weekly max by providing extra photo IDs to Coinbase.
            </p>
        </div>
    </mdb-slide>
    <!--/Fifth slide-->

    <!--Sixth slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" src="../assets/coinbase4.png" alt="Sixth slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption flex-center flex-column">
            <h3 class="h3-responsive">
                Buy (& Send) Crypto
            </h3>
            <p>
                Accounts also controls sending
            </p>
            <p>
                If you want to own currency not sold by Coinbase, here's where you can send it to other exchanges.
            </p>
            <h5>
                <a href="https://www.binance.com/?ref=12272309" target="_blank">Binance is highly recommended.</a> Check out more under the Trade section of this little guide!
            </h5>
        </div>
    </mdb-slide>
    <!--/Sixth slide-->

</mdb-carousel>
<!--/.Carousel Wrapper-->
