@import 'app/bourbon/bourbon.scss';
@import 'app/saffron/saffron.scss';

body {
    background: linear-gradient(to top, darkorange, papayawhip);
    min-height: 100vh;
}

.btn {
    color: ivory;
    font-size: 1.2rem;
    background-color: deepskyblue;
        &:hover {
            @include pulsate();
            background-color: #880e4f;
        }
        &:active {
           @include bounce();
        }
}

.nav-item {
    background-color: deepskyblue;
    &:hover {
        background-color: ivory ;
    }
}
