@import 'app/bourbon/bourbon.scss';
@import 'app/saffron/saffron.scss';

body {
    background: linear-gradient(to top, darkorange, papayawhip);
    min-height: 100vh;
}

.btn {
    color: ivory;
    font-size: 2rem;
    background-color: darkturquoise;
    border-radius: 2rem;
        &:hover {
            @include pulsate();
        }
       &:active {
           @include bounce();
       }
}
